@model IEnumerable<Product>

<!DOCTYPE html>
<html>
<head>
    <title>Aplikacja</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/dist/allstyles.css" />
</head>
<body>
    <a asp-action="Create" class="btn btn-sm btn-success adminBtn">Add New Project</a>
    <div class="col-lg-12">
        @foreach (var item in Model)
        {
            <div class="projectContainer col-md-6">
                <form asp-action="Delete" method="post">
                    <a asp-action="Edit" class="btn btn-sm btn-warning"
                       asp-route-productID="@item.ProductID">
                        Edit
                    </a>
                    <input type="hidden" name="ProductID" value="@item.ProductID" />
                    <button type="submit" class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </form>
                <div class="innerContainer">
                    <div class="projectHeader">
                        @item.Name
                    </div>
                    <div class="projectPictures">
                    </div>
                    <div class="projectSeeMore">
                        <a href="#">See <br />more</a>
                    </div>
                </div>
            </div>
        }
    </div>
    @ViewBag.Message1
    @ViewBag.Message2
</body>
</html>